/*--------------------------------------------------------------
# Components Cookies
--------------------------------------------------------------*/
.cookie-information {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    z-index: 99999;
    padding: 1.5rem 0;
    display: block;

    .description {
        color: $white;
        margin: 0;

        a.link-default {
            color: $white;
            display: inline-block;

            &:before {
                background-color: $white;
            }
        }
    }

    .btn-cookie {
        background-color: $secondary;
        border-color: $secondary;
        border-width: 2px;
        color: $white;

        @media (max-width: 991px) {
            margin-top: 1rem;
        }

        &:hover {
            background-color: transparent;
            border-color: $white;
            text-decoration: none;
            color: $white;
        }
    }
}